<div>
    <h2> Nombre: {{ productos.name | title }}</h2> {# Filter title 4 #}
    <p>sku: {{ productos.sku | upper }}</p> {# Filter upper 3 #}
    <p>Fabricante: {{ productos.manufacturer.name }}</p>
    <p>Precio: {{ productos.price }}</p>
    {% if productos.stock == 0 %} {# IF == 1 #}
        <p>Stock: Agotado</p>
    {% else %}
        <p>Stock: {{ productos.stock }}</p>
    {% endif %}
    <p>Categorias:</p>
    {% for categoria in productos.categories.all %}
        {% if categoria.name != "Ofertas" %} {# IF != 3 #}
            <span>No es oferta</span>
        {% endif %}
        <li>{{ categoria.name | capfirst }}</li> {# Filter capfirst 5 #}
        <li><a href="{% url 'products_by_category' categoria.slug %}">Ver más en esta categoría</a></li>
    {% empty %} {# Template tag empty 1 #}
        <li>Este producto no tiene categorías asignadas.</li> 
    {% endfor %}
</div>
<a href="{% url 'product_detail' productos.id %}">Ver detalles</a>

{% load bootstrap_icons %}
        <div class="mb-2">
            <button type="button" 
                    class="btn btn-outline-primary"> 
                    {# <a href="{% url 'libro_editar' libro.id %}" ><span>{% bs_icon 'pencil' %}</span></a> hacer esto adaptado a Actualizar producto #}
                    <a href="{% url 'producto_update' productos.id %}"><span>{% bs_icon 'pencil' %}</span></a>
                    
            </button>
        </div>
        <div class="mb-2">
            <form action = "{% url 'producto_delete' productos.id %}" method = "post"> 
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    <span>{% bs_icon 'trash' %}</span>
                </button> 
            </form>
        </div>