{% extends "./includes/plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1>Este es el home de nuestro Proyecto</h1>
    <p><a href="{% url 'product_list' %}">Lista de productos</a></p>
    <p><a href="{% url 'manufacturers_list' %}">Lista de fabricantes</a></p>
    <p><a href="{% url 'product_by_sku' sku='ABC-123' %}">Buscar producto por SKU</a></p>
    <p><a href="{% url 'products_by_category' slug='componentes' %}">Productos por categoría</a></p>
    <p><a href="{% url 'manufacturers_by_year_month' year=2009 month=7 %}">Fabricantes por año y mes</a></p>
    <p><a href="{% url 'pedidos_cliente' 24 %}">Pedidos del cliente (id=24)</a></p>
    <p><a href="{% url 'last_order_for_product' 16 %}">Último pedido del producto (id=16)</a></p>
    <p><a href="{% url 'products_never_ordered' %}">Productos nunca pedidos</a></p>
    <p><a href="{% url 'dame_fabricantes' 'Require' %}">Buscar fabricantes con texto "Require"</a></p>
    <p><a href="{% url 'dame_fabricantes' 'martin' %}">Buscar fabricantes con texto "martin"</a></p>
    <p><a href="{% url 'producto_create' %}">Crear nuevo producto</a></p>   
    <p><a href="{% url 'fabricante_create' %}">Crear nuevo fabricante</a></p>    
    <p><a href="{% url 'cliente_create' %}">Crear nuevo cliente</a></p>
    <p><a href="{% url 'category_create' %}">Crear nueva categoría</a></p>
    <p><a href="{% url 'order_create' %}">Crear nuevo pedido</a></p>

    <p><a href="{% url 'producto_busqueda_avanzada' %}">Búsqueda avanzada de productos</a></p>
    <p><a href="{% url 'fabricante_busqueda_avanzada' %}">Búsqueda avanzada de fabricantes</a></p>
    <p><a href="{% url 'cliente_busqueda_avanzada' %}">Búsqueda avanzada de clientes</a></p>
{% endblock contenido %}
   
