<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Este es el home de nuestro Proyecto</h1>
    <p><a href="{% url 'product_list' %}">Lista de productos</a></p>
    <p><a href="{% url 'manufacturers_list' %}">Lista de fabricantes</a></p>
    <p><a href="{% url 'product_by_sku' sku='ABC-123' %}">Buscar producto por SKU</a></p>
    <p><a href="{% url 'products_by_category' slug='componentes' %}">Productos por categoría</a></p>
    <p><a href="{% url 'manufacturers_by_year_month' year=2009 month=7 %}">Fabricantes por año y mes</a></p>
    <p><a href="{% url 'pedidos_cliente' 24 %}">Pedidos del cliente (id=24)</a></p>
    <p><a href="{% url 'last_order_for_product' 16 %}">Último pedido del producto (id=16)</a></p>
    <p><a href="{% url 'products_never_ordered' %}">Productos nunca pedidos</a></p>

</body>
</html>